@config "../tailwind.config.js";
@tailwind base;
@tailwind components;
@tailwind utilities;


/* SCROLLBAR */
::-webkit-scrollbar {
    width: 0em;                             /* 0.25em; */
    height: 0em;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #dedede;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #dedede;
}

/* DRAGGABLE ITEMS */
img {
    -webkit-user-drag: none; /* For Safari */
    user-select: none; /* Prevent text selection during drag */
}

/* ROTATION ANIMATION */
.rotate-y-180 {
    transform: rotateY(180deg);
}
.rotate-y-360 {
    transform: rotateY(360deg);
}