* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Josefin Sans', sans-serif;
}

.heroimage{
    position: relative;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to right, rgba(0,0,0,0) 5%,rgba(0,0,0,0.1) 30%,rgba(0,0,0,0.5) 50%,rgba(0,0,0, 1) 80%), url(https://alexandrosas.github.io/home/img/homebg.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed; /*Parallax effects*/
}
div{
    display: block;
}
.container{
    float: right;
    width: 50%;
    padding:10px;
}
.container h1{
    font-family: 'Tangerine', cursive;
    margin-top: 15%;
    font-size: 100px;
    font-weight: normal;
    padding: 10px;
    color: white;
}
.container h4{
    padding: 10px 0px 10px 10px;     /*top right bottom left*/
    color: white;
}
.container p{
    color: white;
    padding: 0px 10px 0px 10px;
}

.container ul.links{
    list-style-type: none;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px 0px 0px 0px;
    margin-top: 1%;
    margin-bottom: 2%;
}

.container ul.links li{
    border: 2px solid white;
    border-radius: 3px;
    text-align: center;
    width: 300px;
    margin: 1%;

}

.container ul.links li a{
    display: block;
    width: 100%;
    margin: 0;
    padding: 10px 0px 10px 0px;
}

.container ul.links li a:hover{
    background: rgba(255, 255, 255, 0.3);
}

a{
    text-decoration: none;
    color: white;
}

.container ul.social{
    list-style-type: none;
    width: max-content;
    margin: 0 auto;
}

.container ul.social li{
    display: inline-block;
    text-align: center;
    padding: 10px;
    font-size: 120%;
}

.container ul.social li a:hover{
    color:rgba(255, 255, 255, 0.75);
}

@media(max-width: 320px){
    .heroimage{
        background: linear-gradient(rgba(0,0,0,0.3) 5%,rgba(0,0,0,0.8) 80%,rgba(0,0,0, 0.3) 100%), url(https://alexandrosas.github.io/home/img/coldBack.jpg) no-repeat center;
        background-size: cover;
        background-attachment: fixed;
    }    
    .container{
        height: 100vh;
        display: grid;
        align-items: center;
        float: none;
        margin-left: auto;
        margin-right: auto;
        width: 90vw;
        padding: 10px;
    }
    .container h1{
        font-family: 'Tangerine', cursive;
        margin-top: 15%;
        font-size: 50px;
        font-weight: normal;
        padding: 10px;
        color: white;
    }
    .container ul.links{
        list-style-type: none;
        width: 100%;
        padding: 10px 0px 0px 0px;
        margin-top: 5%;
        margin-bottom: 2%;
    
    }
    
    .container ul.links li{
        border: 2px solid white;
        border-radius: 3px;
        text-align: center;
        width: 95%;
        margin: 1%;
    
    }
    
    .container ul.links li a{
        background:rgba(255, 255, 255, 0.1);
        display: block;
        width: 100%;
        margin: 0;
        padding: 10px 0px 10px 0px;
    }
    
    .container ul.links li a:hover{
        background: rgba(255, 255, 255, 0.3);
    }
    
    a{
        text-decoration: none;
        color: white;
    }
    
    .container ul.social{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        list-style-type: none;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    
    .container ul.social li{
        display: inline-block;
        text-align: center;
        padding: 10px;
        font-size: 120%;
    }
}
@media(min-width:321px) and (max-width: 425px){
    .heroimage{
        background: linear-gradient(rgba(0,0,0,0.3) 5%,rgba(0,0,0,0.8) 80%,rgba(0,0,0, 0.3) 100%), url(https://alexandrosas.github.io/home/img/keycut.jpg) no-repeat center;
        background-size: cover;
        background-attachment: fixed;
    }    
    .container{
        height: 100vh;
        display: grid;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        float: none;
        width: 90vw;
        padding: 10px;
    }
    .container h1{
        font-family: 'Tangerine', cursive;
        margin-top: 15%;
        font-size: 50px;
        font-weight: normal;
        padding: 10px;
        color: white;
    }
    .container ul.links{
        list-style-type: none;
        width: 100%;
        padding: 10px 0px 0px 0px;
        margin-top: 5%;
        margin-bottom: 2%;
    
    }
    
    .container ul.links li{
        border: 2px solid white;
        border-radius: 3px;
        text-align: center;
        width: 95%;
        margin: 1%;
    
    }
    
    .container ul.links li a{
        background:rgba(255, 255, 255, 0.1);
        display: block;
        width: 100%;
        margin: 0;
        padding: 10px 0px 10px 0px;
    }
    
    .container ul.links li a:hover{
        background: rgba(255, 255, 255, 0.3);
    }
    
    a{
        text-decoration: none;
        color: white;
    }
    
    .container ul.social{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        list-style-type: none;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    
    .container ul.social li{
        display: inline-block;
        text-align: center;
        padding: 10px;
        font-size: 120%;
    }
}
@media(min-width:426px) and (max-width: 768px){
    .heroimage{
        background: linear-gradient(rgba(0,0,0,0.3) 5%,rgba(0,0,0,0.8) 80%,rgba(0,0,0, 0.3) 100%), url(https://alexandrosas.github.io/home/img/coldBack.jpg) no-repeat center;
        background-size: cover;
        background-attachment: fixed;
        background-position-y: -35px;
        background-position-x: 0px;
    }    
    .container{
        float: none;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        padding: 10px;
    }
    .container h1{
        text-align: center;
        font-family: 'Tangerine', cursive;
        margin-top: 15%;
        font-size: 100px;
        font-weight: normal;
        padding: 10px;
        color: white;
    }
    .container ul.links{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        list-style-type: none;
        padding: 10px 0px 0px 0px;
        margin-top: 5%;
    
    }
    
    .container ul.links li{
        border: 2px solid white;
        border-radius: 3px;
        text-align: center;
        width: 150px;
        margin: 1%;
    
    }
    
    .container ul.links li a{
        background:rgba(255, 255, 255, 0.1);
        display: block;
        width: 100%;
        margin: 0;
        padding: 10px 0px 10px 0px;
    }
    
    .container ul.links li a:hover{
        background: rgba(255, 255, 255, 0.3);
    }
    
    a{
        text-decoration: none;
        color: white;
    }
    
    .container ul.social{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        list-style-type: none;
        margin-top: 5%;
        margin-bottom: 10%;
    }
    
    .container ul.social li{
        display: inline-block;
        text-align: center;
        padding: 10px 0px 14px 0px;
        font-size: 120%;
    }

}