.contacts{
    margin-top: 100px;
    text-align:center;
    position: relative;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(rgba(0,0,0,0.3) 5%,rgba(0,0,0,0.8) 80%,rgba(0,0,0, 0.3) 100%), url(https://alexandrosas.github.io/home/img/closeup.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    background-position-y: 0px;
}

form{
    margin-top: 50px;
    transition: all 4s ease-in-out; 
    padding-bottom: 20px;
}
.form-control::placeholder{
    background: transparent;
    color: rgba(255, 255, 255, 0.8);
}
.form-control{
    background: transparent;
    padding: 10px;
    width: 600px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    color: white;
    font-size: 16px;
    margin-bottom: 16px;
}
input{
    height: 45px;
}
form .submit{
    width: 300px;
    border-radius: 4px;
    border: 2px solid white;
    background: transparent;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}
textarea{
    resize: none;
}

.contacts h1{
    color: white;
    font-size: 60px;
    margin-top: 40px;
}
form .submit:hover{
    background: rgba(255, 255, 255, 0.3);
}

.contacts p{
    margin-top: 37px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 5px;
}

.social2{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    list-style: none;
}
.social2 li{
    font-weight: normal;
    font-size: 150%;
}
.social2 a:hover{
    color: rgba(255, 255, 255, 0.8);
}



@media(max-width: 425px){
.contacts h1{
    margin-left: auto;
    margin-right: auto;
    width:90%;
    font-size: 50px;
}
.form-control{
        width: 200px;
        padding: 5px;
        margin: 0px;
    }
input{
        height: 30px;
    }
form .submit{
        width: 30%;
        border-radius: 4px;
        border: 2px solid white;
        background: transparent;
        letter-spacing: 2px;
        margin-top: 20px;
        font-size: 50%;
        padding: 0px;
    }
.social2{
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        list-style: none;
    }
.social2 li{
    margin-top: 10px;
    font-weight: normal;
    font-size: 125%;
}
.contacts p{
        font-size: 50%;
    }
.contacts{
    margin-top: 0px;
    }
}

@media(min-width:426px) and (max-width: 768px){

    .input{
        height: 30px;
    }
    form{
        margin-top: 20px;
    }
    .form-control{
        padding: 0%;
    }
    .five{
        background-position: top;
    }
}